body {
	background: url('/images/background.png');
	background-repeat: repeat;
	min-width: 320px;
}

ul.nav.nav-pills {
	background-color: #fff;
}
.student-list-item .panel-body {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
}
.student-list-item .panel-body > * {
	-webkit-align-self: center;
	align-self: center;
	-ms-flex-item-align: center;
}
.student-list-item .panel-body .btn {
	margin-left: auto;
}
.student-avatar {
	height: 200px;
	width: 200px;
}
span.icon-container {
	display: inline-block;
	text-align: center;
	width: 48px;
	height: 48px;
	margin-right: 15px;
}

div.button-bar {
	text-align: left;
	margin-bottom: 10px;
}
div.form-offset {
	padding-top: 15px;
}
.margin-top-reset {
	margin-top: 0;
}
ul.address-lines {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.address-lines div.address-edit, .margin-bottom-space {
	margin-bottom: 5px;
}
ul.address-lines .in-line-input {
	margin-bottom: 5px;
}

/* Other styles */
.home{
	background: url('/images/university.jpg');
	background-size: cover;
	width: 100%;
	min-height: 600px;
}
.home p{
	width: 70%;
}
.drop-shadow{
	-moz-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2), inset 0 0 75px rgba(0,0,0,0.7);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2), inset 0 0 75px rgba(0,0,0,0.7);
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2), inset 0 0 75px rgba(0,0,0,0.7);
}
.panel:hover{
	opacity: 0.9;
}
.student-list-item{
	cursor: pointer;
}
.big-panel{
	opacity: 0.9;
}
.footer{
	background-color: #fff;
}
.text-muted{
	font-size: 11px;
	padding-top: 10px;
}
.in-line-input{
    background-color: #fffd94;
    opacity: 0.9;
    width: 80%;
}
/* Override bootstrap style*/
/*Square corner*/
.nav-pills > li > a, .breadcrumb, .btn, .panel, .container .jumbotron, .form-control{
	border-radius: 0px;
}
.panel{
	margin-bottom: 0;
}

.col-xs-12, .col-sm-6, .col-lg-4{
	padding: 0px;
}
/*Search box*/
.template-search{
	margin: 5px 0;
}

.input-group {
    opacity: 0.9;
}

.form-control{
	border: none;
}

.form-control{
	height: 35px;
	padding: 6px 15px;
}

/*Avatar*/
.student-avatar-small{
	height:48px;
	widows: 48px;
}