<ul class="breadcrumb">
	<li><a href="#students">New Student</a></li>
	<li class="active">Last Name, Last Name</li>
</ul>

<div class="panel panel-default clearfix big-panel">
	
	<div class="panel-body">
		
		<div class="button-bar">
			<button class="btn btn-warning" ng-click="edit()" ng-hide="editing">Modify</button>
			<button class="btn btn-success" ng-click="save()" ng-show="editing">Add</button>
			<button class="btn btn-danger" ng-click="cancel()" ng-show="editing">Cancel</button>
		</div>
		
		<div class="col-xs-12 col-md-4 text-center">
			<h3 class="margin-top-reset">{{student.name.first}}, {{student.name.last}}</h3>
			<img ng-src="{{student.image}}" image-fallback="images/user.png" class="student-avatar">
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 form-offset">
			<div class="form-group">
				<label class="control-label">Student ID</label>
				<edit-in-line value="student.id" editing="editing" />
			</div>
			<div class="form-group">
				<label class="control-label">First Name:</label>
				<edit-in-line value="student.name.first" editing="editing" />
			</div>
			<div class="form-group">
				<label>Last Name:</label>
				<edit-in-line value="student.name.last" editing="editing" />
			</div>
			<div class="form-group">
				<label>Department:</label>
				<edit-in-line value="" editing="editing" edit-list="departments" edit-option="t for t in departments" edit-type="select" display-value="student.team.name" />
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 form-offset">
			<div class="form-group">
				<label>Address:</label>
				<edit-in-line value="student.address" editing="editing" />
			</div>
			<div class="form-group">
				<label>Nationality:</label>
				<edit-in-line value="student.nationality" editing="editing" edit-list="nationalities" edit-option='n for n in nationalities' edit-type="select" display-value="student.nationality" />
			</div>
		</div>
	</div> <!--END panel-body-->

</div> <!--END panel-->