<div class="template-search" ng-include src="template.url"></div>

<div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="employee in employees  | filter:searchText">
		<div class="panel panel-default employee-list-item" ng-click="go(employee.id)">
			<div class="panel-body">
				<span class="icon-container">
					<img ng-src="{{employee.image}}" image-fallback="images/user.png" class="student-avatar-small">
				</span>
				<span class="h4">{{employee.name.last}} {{employee.name.first}}, {{employee.nationality}}</span>
			</div>
		</div>
</div>	


