<ul class="breadcrumb">
	<li><a href="#teams">Teams</a></li>
	<li class="active">{{team.name}}</li>
	<li>Students</li>
</ul>

<div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="student in team.members">
	<div class="panel panel-default student-list-item" ng-click="go(student.id)">
		<div class="panel-body">
			<span class="icon-container">
				<img ng-src="{{student.image}}" image-fallback="images/user.png" class="student-avatar-small">
			</span>
			<span>ID: {{student.id}} <br/> {{student.name.last}} {{student.name.first}}, {{student.nationality}}</span>
			</a>
		</div>
	</div>