<ul class="breadcrumb">
	<li><a href="#teams">Teams</a></li>
	<li class="active">{{team.name}}</li>
	<li>Students</li>
</ul>

<div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="employee in team.members">
	<div class="panel panel-default employee-list-item" ng-click="go(employee.id)">
		<div class="panel-body">
			<span class="icon-container">
				<img ng-src="{{employee.image}}" image-fallback="images/user.png" class="student-avatar-small">
			</span>
			<span>ID: {{employee.id}} <br/> {{employee.name.last}} {{employee.name.first}}, {{employee.nationality}}</span>
			</a>
		</div>
	</div>